
*{
    box-sizing: border-box;
}
#contact_modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.466);
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover, .contact_button:focus{
    background-color: #DB8876;
    color: black;
}

.fond-Lightbox {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
}

.content-Lightbox i{
    font-size: 2.5em;
    cursor: pointer;
    color: #901C1C;
}

.content-Lightbox {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns:fr;
}

.image-Lightbox{
    object-fit: cover;
    max-height: 90vh;
    max-width: 100%;
    margin: 0 auto;
}
#titre{
    margin: 0;
    text-align: left;
    font-size: medium;
}

.column-Lightbox{
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.iconeLightbox {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}


.modal {
    font-size: 0.90em;
    height: 100%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    overflow-y: scroll;
    margin: auto;
}


.modal header {
    justify-content: space-between;
    width: 100%;
    height: auto !important;
}

.modal header img {
    cursor: pointer;
}

/* Modal formulaire */
.textarea{
    height: 200px;
}
.numberLikes{
    margin-right: 3px;
}

.modal header h2 {
    font-size: 46px;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#name{
    color : #D3573C;
    font-size: 36px;

}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    height: 50px;
    border-radius: 5px;
}

form textarea, form input {
    width: 100%;
    border: none;
    font-size: 2em;
}

.medias_section{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;    
    gap: 50px;
    row-gap: 60px;
    padding-bottom: 150px;
}
.medias_section article {
    width: 100%;
    height:300px;
    background-color: #901C1C;
    border-radius: 10px;
}
.buttonLike{
    background-color: white;
    border: none;
    font-size: 16px;
}

.medias_section figure {
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.medias_section figcaption {
   margin-top: 0;
   padding-top: 0;
   display: flex;
   justify-content: space-between;
}
.color-red{
    color: #901C1C;
    font-size: 1.10em;
}

.image{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}
.photographer_info{
    padding-left: 30px;
}
.photographer_info #location{
    color:#901C1C;
}
.photograph-header{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
    margin: auto;
}
#image_photographer{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#price {
    position: fixed;
    bottom: 0;
    right: 100px;
    background-color:#DB8876;
    color:black;
    padding: 20px 30px;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    width: 220px;
}
#priceConteneur{
    text-align: right;
}
.filter{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
    align-items: center;
}
.filter option:not(:first-child):not(:last-child) {
    border-top:1px solid white;
    border-bottom: 1px solid white;
}

#select_filter 
{
    background-color: #901C1C;
    color: white;
    padding: 0px 20px;
    margin-left: 10px;
    border-radius: 5px;  
    font-size: 0.90em;
    padding: 10px 20px;
}

@media (min-width: 770px) {
    .photograph-header{
        grid-template-columns: 1fr 1fr;
        min-height: 300px;
    }
    .medias_section {
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
    }
    header{
        justify-content: center;
    }
    header img{
        width: auto;
        object-fit: cover;
    }
   
}

@media (min-width: 1024px) {
    .medias_section {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;
    }
    .photograph-header{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .image-Lightbox{
        object-fit: cover;
        max-height: 90vh;
        max-width: 124vh;
        margin: 0 auto;
    }
    .column-Lightbox{
        width: auto;
    }
    .content-Lightbox {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
    }
}