@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: auto;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}
h1, .logo {
    margin: auto;
}

.logo {
    height: 50px;
    width: auto;
    object-fit: cover;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 80px;
    margin: 0 auto !important;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.photographer_section article p {
    margin: 0;
    padding: 0;
}
.photographer_section article a{
    text-decoration: none;
    color:black;
}
.city{
    color:#901C1C;
}
.price{
    color:#757575;
}

@media (max-width: 1024px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-top: 50px;
        margin-left: 100px;
    }
}

@media (max-width: 770px) {
    .photographer_section {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 50px;
    }
    .photographer_section article {
        width: 80%;
    }
    header{
        justify-content: space-between;
    }
    header img{
        width: 100%;
    }
}